<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Hub</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img class="logo" src="static/Logo.png" alt="Logo">
          </div>
    </header>
    <main>
        <div class="cards-container">
            {{range .}}
            <div class="card">
                <a id="anchor" href="http://localhost:8080/artists/{{.Id}}">
                <img src="{{.Image}}" alt="{{.Name}}Image">
                <div class="card-title">
                   <h3 id="anchor">{{.Name}}</h3>
                </a>
                </div>
            </div>
            {{end}}
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>